@import "../../globalScss/variables.scss";
@import "../../globalScss/mixins.scss";

.section {
  position: relative;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  font-family: $charm;
}

.title {
  color: $sand;
  font-size: 3em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 700;
}

.gameId {
  color: $sand;
  font-size: 2em;
  letter-spacing: 0.7em;

  transform: translate(0.5em);
}

.playersSection {
  @include frontSection($med-brown, $sand);
  min-height: 40vh;
  margin-top: 1.5em;
  padding: 1em 0.5em 1em 0.5em;
}

.playersSectionTitle {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;
  color: $sand;
}

.player {
  background-color: $light-brown;
  border: black solid 2px;
  color: $dark-brown;
  font-size: 1.3em;
  margin: 0.3em;
  padding: 0.1em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hiddenDown,
.hiddenUp {
  visibility: hidden;
}

.arrowUp {
  transform: rotate(180deg);
}

.rolesSection {
  @include frontSection($med-brown, $sand);
  margin-top: 1em;
  padding: 1em 0.5em 1em 0.5em;
  max-width: 70%;
}

.rolesSectionTitle {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;
  color: $sand;
}

.rolesButtonsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.rolesButtonNormal,
.rolesButtonHighlighted {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5em;
  width: 45%;
  padding: 0.2em;
  margin: 0.2em;
  display: flex;
}

.rolesButtonNormal {
  @include button(2px, $sand, $med-brown, $sand, solid);
}
.rolesButtonHighlighted {
  @include button(2px, $sand, $light-brown, $sand, solid);
}
