@import "../../globalScss/variables.scss";

.section {
  font-family: $primary-font-family;
  text-align: center;
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  font-size: 1.5em;
  font-weight: 600;
  color: $secondary-color;
  margin: 0em auto 0.8em auto;
}

.container {
  width: 75%;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
  min-height: 45vh;
  background-color: $primary-color;
}

.gameId {
  font-weight: 600;
  font-size: 3em;
  color: $primary-color;
}

.status {
  font-size: 2em;
  color: $secondary-color;
  text-decoration: underline;
}

.playersList {
  font-size: 1.2em;
  max-height: 45vh;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 0.5em;
  color: $font-color;

  li {
    border-radius: 0.5em;
    margin: 0 1.5em 0.5em 1.5em;
    padding: 0.4em;
  }

  .highlighted {
    background-color: $secondary-color;
  }
}

.popup {
  width: 70vw;
  font-family: $primary-font-family;
  font-size: 1.2em;
  color: $primary-color;
  min-height: 10em;
  background-color: $background-color-2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
