@import "./globalScss/variables.scss";
@import "./globalScss/reset.scss";
@import "./globalScss/breakpoint.scss";

.App {
  width: 100vw;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: $dark-brown;
  @include lg {
    width: 30vw;
  }
}
