// $primary-font-family: "Roboto Mono", monospace;
//$primary-font-family: "Open Sans", sans-serif;
// $primary-color: #faf9f9;
// $secondary-color: #bee3db;
// $background-color: #555b6e;
// $background-color-2: #8c92a6;

$primary-font-family: "Open Sans", sans-serif;
$background-color: #f6f6f6;
$primary-color: #ff8e6e;
$secondary-color: #515070;
$font-color: #ffffff;
$background-color-2: #ffbb91;
