// $primary-font-family: "Roboto Mono", monospace;
//$primary-font-family: "Open Sans", sans-serif;
// $primary-color: #faf9f9;
// $secondary-color: #bee3db;
// $background-color: #555b6e;
// $background-color-2: #8c92a6;
@font-face {
  font-family: "Charm";
  src: local("Charm"), url(../fonts/Charm/Charm-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Charm";
  font-weight: 700;
  src: local("Charm"), url(../fonts/Charm/Charm-Bold.ttf) format("truetype");
}

//$primary-font-family: "Charm", cursive;

$charm: "Charm", cursive;
$dark-brown: #312b21;
$med-brown: #474133;
$light-brown: #a38c52;
$sand: #ffeec2;
$red: #de7264;
$blue: #64b9de;
$green: #a5c975;
